<% layout("/layouts/boilerplate.ejs")%>
<div class="row">
  <div class="offset-2 col-8">
  <h1>Edit Listing</h1>
  <form method="POST"  novalidate  enctype="multipart/form-data"  class="needs-validation" action="/listings/<%=listing.id%>?_method=PUT">
 

    <div>
      <label  for="listing[title]" class="form-label">Title</label>
    <input  required value="<%=listing.title%>"class="form-control" type="text" placeholder="enter title" name="listing[title]">
    <div class="invalid-feedback">enter a title!</div>
    <div class="valid-feedback">ok!</div>
    </div>
    
    <br>

    <div>
      <label for="listing[description]" class="form-label">Description</label>
    <textarea required  class="form-control" placeholder="enter description" name="listing[description]"><%=listing.description%></textarea> 
    <div class="invalid-feedback">enter description!</div>
    <div class="valid-feedback">ok!</div>
    </div>
    
    <br>

    <div>
      <label for="listing[price]" class="form-label">Price</label>
      <input  required   value="<%=listing.price%>" class="form-control"type="number" placeholder="enter price" name="listing[price]">
      <div class="invalid-feedback">enter valid price!</div>
      <div class="valid-feedback">ok!</div>
    </div>
   
    <br>
    <div >
      <img height="100px" src="<%=listing.image.url%>" >
    </div>
    <div>
      <label for="listing[image]" class="form-label">Image</label>
      <input   class="form-control"  type="file" name="listing[image]">

      
    </div>
    
    <br> 

    <div>
      <label for="listing[location]" class="form-label">Location</label>
      <input required   value="<%=listing.location%>" class="form-control" type="text" placeholder="enter location" name="listing[location]">
      <div class="invalid-feedback">enter location!</div>
      <div class="valid-feedback">ok!</div>
    </div>
   
    <br> 

    <div>
      <label for="listing[country]" class="form-label">Country</label>
      <input required value="<%=listing.country%>"class="form-control" type="text" placeholder="enter country" name="listing[country]">
      <div class="invalid-feedback">enter country!</div>
      <div class="valid-feedback">ok!</div>
    </div>
    <br><br>
    <button class="btn btn-dark">Edit</button>
    <br>
    <br>
  </form>
 </div>
 </div>